<form method="POST" action="/moviesearch">
	<div class="form-group">
		<label for="title-input">Movie title</label>
		<input name="title" type="text" class="form-control" id="title-input" placeholder="Movie name"
			required>
	</div>
	<div class="form-group">
		<label for="year-input">Year of release</label>
		<input name="year" type="number" class="form-control" id="year-input" placeholder="Year of release">
	</div>
	<button type="submit" class="btn btn-primary">Search</button>
</form>