body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: large;
}

.title {
	text-align: center;
	font-size: 2rem;
}

.movie-list-item {
	display: flex;
}

.poster-image {
	max-height: 200px;
}

.movie-details {
	list-style:none;
	padding-left: 1rem;
}

.movie-title {
	font-weight: bold;
}

.error {
	color: red;
}